@using Mzodal.Classes

@{
    ViewBag.Title = "ModalContent";
    Layout = "~/Views/Shared/_LayoutMzodal.cshtml";
	ViewBag.ModalLayoutOptions = new ModalLayoutOptions()
	{
		Size = ModalSize.Small
	};
}

<h3>Basic Modal</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nibh vel dolor ornare aliquet. Aliquam auctor orci velit. Vivamus bibendum, tortor et dapibus consequat, felis neque vehicula massa, vel ornare eros turpis nec nisi. Etiam rhoncus, sem a convallis facilisis, nunc est bibendum nisl, vel porttitor orci ligula nec nisl. Integer blandit vulputate dictum. Nam euismod sagittis est eget dignissim. Nullam sagittis eleifend tortor, quis tristique arcu lobortis id. Nullam a tincidunt ligula, nec consectetur sem. Ut eget scelerisque sapien, non gravida massa. Donec posuere felis ante, vitae vehicula libero lacinia ac. Vivamus ut consectetur tellus, ut dictum tellus. Nunc non hendrerit orci, ac accumsan dolor. Quisque nec urna congue, gravida elit id, pulvinar orci.</p>
<p>Sed et velit magna. Donec quis ultricies arcu. Mauris fermentum commodo hendrerit. Etiam ipsum risus, aliquam a orci vel, venenatis euismod libero. Vestibulum lacinia ullamcorper placerat. Sed eleifend augue enim, placerat mattis dolor luctus eu. Mauris sodales enim sed orci semper laoreet. Phasellus porta lacus risus, sit amet condimentum leo scelerisque sed. Proin pharetra eu libero non malesuada.</p>
