
@{
    ViewBag.Title = "Mzodal Example";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Mzodal - the z makes it cool.</h2>

<p>Test page for Mzodal - blah blah</p>
<p><a class="js-mzodal" href="@Url.Action("BasicModal")">Show me a modal already!</a></p>